@import '../../styles/constants';

.bubble{
  border: 1.5px solid #767676;
  text-align: center;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
  color: lighten( $font-color, 10%);
  font-weight: 500;
}

.selected{
  composes: bubble;
  background-color: $primary-blue;
  color: white;
  font-weight: 400;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}