$font-color: #222222;
$primary-blue: darken(#00bfff, 10%);
$background-white: #fafafa;
$background-grey: #f2f2f2;

$site-width-small: 400px;
$site-width-medium: 800px;

$menu-medium-width: 160px;
$menu-margin: 40px;

$content-medium-width: 600px;
