@import '../../styles/constants.scss';


.header{
  text-align: center;
  background: white;
  margin: 0;
  padding: .8em;

  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  display:flex;
  align-items: center;

  text-decoration: none;
  color: $font-color;

  &:hover{
    fill: $primary-blue;
    color: $primary-blue;
    stroke: $primary-blue;
  }

  @media all and ( min-width: $site-width-medium){
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

    padding:0;

    //padding-left: 25%;
  }

  font-size: 2rem;

  // Just made this number up. Looks good.
  @media all and ( max-width: 600px ){
    font-size: 1.2rem;
  }
}

.logo{
  width: 8vh;
  height: 8vh;
}

.title{
  display:flex;
  align-content: center;
  margin-left: 1em;
  font-size:inherit;
}

.ochem{
  font-family: 'Roboto Condensed', 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-left:.5ch;
}